<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="contein" class="listdiv">
    <form id="uplodetext" class="" action="uplodeok.php" method="post">
      <input id="textcontent" class="textcontent" type="text">
      <button id="uplodebtn" onclick="innerContent()" type="submit">게시</button>
    </form>
  </div>
</body>
</html>
<style>
  .textcontent {
    margin: 10px;
    margin-left: 0;
    width: 80vw;
    height: 100px;
  }
</style>
<script>
  function innerContent() {
    // var http = new XMLHttpRequest;
    // var id = api\checkid.php
    // console.log(http.open('get', id));
    // location.href = 'uplode.php'
  }
</script>
